@font-face {
    font-family: 'Passero One';
    src: url('../fonts/PasseroOne-Regular.woff2') format('woff2'),
        url('../fonts/PasseroOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

